<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldskills.psp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProyectosRealizados">
        </activity>
        <activity android:name=".pantallas.TimeLog"></activity>
        <activity android:name=".pantallas.DefectLog" />
        <activity android:name=".pantallas.ProjectPlanSummary" />
        <activity android:name=".pantallas.TimeInPhase" />
        <activity android:name=".pantallas.DefectsInjectedInPhase" />
        <activity android:name=".pantallas.DefectsRemovedInPhase" />
        <activity android:name=".pantallas.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>